table {
    table-layout: auto;
}

p {
    margin: 0;
}

.descricao {
    text-align: justify;
}

@media (pointer: fine) {
    td:has(.nome) {
        position: relative;
    }

    .descricao {
        visibility: hidden;
        max-width: 70%;
        font-size: 10pt;
        background-color: white;
        padding: .5rem;
        border-radius: 7px;
        box-shadow: 0 0 8px 1px var(--main);
        position: absolute;
        z-index: 1;
        left: 0%;
        top: 80%;
    }

    .nome:hover~.descricao {
        visibility: visible;
    }
}

@media (pointer: coarse) {
    th:nth-child(2) {
        text-align: center;
    }

    td {
        font-size: 10pt;
    }

    p {
        user-select: none;
        margin-bottom: 1em;
    }
}