@import url("./variaveis.css");

/* * {
  min-width: unset !important;
  outline: red 1px solid;
} */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER: */
#header {
  width: 100%;
  background-color: var(--sec);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 3px solid var(--main);
  border-bottom: 5px solid var(--main);
  padding: 0 3rem 1rem 3rem;
}

#box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  position: relative;
}

#box>h1 {
  align-self: center;
  text-align: center;
  padding: 1rem 10px 10px 10px;
  margin: 0;
  color: var(--main);
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

#box>a {
  max-width: 15vw;
  padding-top: 1.5rem;
}

#abas {
  height: min-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0%;
}

#userName {
  height: fit-content;
  margin: 0;
}

#abas>a {
  height: fit-content;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0 0 5px 5px;
  padding: 1rem;
  background-color: var(--main);
  color: white;
  display: flex;
}

#abas>img {
  max-width: 10%;
}

/* Linha de centralização */
/* hr {
    background-color: red;
    height: 100%;
    width: 4px;
    position: fixed;
} */

nav {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav>a {
  padding: .7rem;
  text-align: center;
  position: relative;
  box-sizing: content-box;
  border: 2px solid transparent;
}

nav>a::before,
nav>a::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
}

nav>a::before {
  top: -4px;
  left: -4px;
  border-top: 3px solid var(--main);
  border-left: 3px solid var(--main);
  transition: 0.5s all;
}

nav>a::after {
  bottom: -4px;
  right: -4px;
  border-bottom: 3px solid var(--main);
  border-right: 3px solid var(--main);
  transition: 0.5s all;
}

nav>a:hover::before,
nav>a:hover::after {
  width: 102%;
  height: 111%;
}

/* FIM DO HEADER */

/* COMEÇO DO WRAPPER */
#wrapper {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boundBox {
  border: 3px solid var(--mainFocus);
  border-radius: 5px;
  padding: 2rem;
}

#footer {
  width: 100%;
  background-color: var(--sec);
  text-align: center;
}

#footer>h3 {
  font-size: 16pt;
  line-height: 1;
  margin-block: 1rem;
}

table {
  display: table;
}

input, select, option {
  color: var(--main);
}

.dropdown {
  height: calc(1.2rem + 1em);
  overflow-y: hidden;
  transition: height .5s ease-in-out;
}

.dropdown.dropped {
  height: fit-content;
}

@media screen and (max-width: 870px) {
  #header {
    padding: 0;
  }

  #box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #box>a {
    padding: 0;
    margin-top: 2.2em;
  }

  #box>h1 {
    text-align: center;
  }

  #abas {
    width: 100%;
    position: static;
    display: flex;
    justify-content: center;
  }

  #userName {
    position: absolute;
    top: 0;
  }

  #abas>a {
    padding: .7rem;
    font-size: 11pt;
    border-radius: 5px;
  }

  nav>a {
    font-size: 9pt;
  }

  #footer>h3 {
    font-size: 10pt;
  }
}